<ion-view view-title="Galleries">
  <ion-content padding="true">
    <a class="button-clear" href="#/tab/galleries">
      <span class="ion-ios-arrow-left"></span> back</a>
    <br>
    <div class="card Gallery-object">
      <div class="item item-text-wrap">
        <h2>{{item.title}}</h2>
        <p>{{item.artist}}</p>
        <img ng-src="img/thumbnails/{{item.imageFilename}}" alt="">
        <p>{{item.materials}}</p>
        <p>{{item.medium}}</p>
        <p>{{item.date}}</p>
        <div class="button-bar">
          <a class="button button-positive" ng-click="addLike()">
            <span class="ion-happy-outline giant-icon"></span>
          </a>
        </div>
      </div>
    </div>

    <ion-list>
      <ion-item>
        <p>Art you're into</p>
      </ion-item>
      <ion-item ng-repeat="l in likes">
        <h2>{{l.title}}</h2>
        <p>{{l.artist}}</p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
<ion-footer-bar >
  <button class="button button-large button-block button-primary">
    Have a question?
  </button>
</ion-footer-bar>
