<ion-view view-title="">
  <ion-content padding="true">
    <div ng-repeat="m in state.messages" style="overflow: auto;" class="{{ m.sender == 'Art' ? 'pull-left' : 'pull-right'}}">
      <p class="message {{ m.sender == 'Art' ? 'from-them' : 'from-me'}}">{{m.text}}</p>
    </div>
    <br>
    <p>{{state.status}}</p>
  </ion-content>

  <ion-footer-bar>
    <div class="input">
      <input name="userName" ng-model="myname" />
      <button ng-click="setName()">Send</button>
    </div>
  </ion-footer-bar>
</ion-view>
